<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <style>
        .form-control{
            width:100%;
            min-height:40px;
            border:1px solid #111;
            margin-bottom:10px;
            padding-left:15px;
            box-sizing:border-box;
        }
        button{
            width:100%;
            box-sizing:border-box;
            background-color:#111;
            border:1px solid #111;
            min-height:40px;
            color:#fff;
        }
    </style>
</head>
<body>
<form action="/home" method="post" style="width:500px;margin:100px auto;">
    <h1 style="text-align:center">Login</h1>
    <input type="text" placeholder="Username" name="uname" class="form-control">
    <input type="text" placeholder="Password" name="pass" class="form-control">
    <button>Submit</button>
</form>
</body>
</html>